@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
body{
    margin: 0;
    padding: 0 auto;
    width: auto;
    border: 4px solid rgb(240, 252, 10);
}
*{
    margin: 0;
  }
  .container{
    width: 90%;
    margin: 1rem auto;
    border-radius: 1rem;
  }

/* shared styles */
.display-flex{
    display: flex;
}


/* header styles */

header{
    
width: 1340px;
height: 615px;
left: 0;
top: 0;
background: black
}
header h3{
    color: rgb(230, 83, 60);

font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}


/* nav related styles */

.nav-bar{
    padding: 0 80px;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

ul {
    align-items: center;
    gap: 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 6px;
    margin: 0 10px;
  }

.nav-link{
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 400;
}

.btn{
color: rgb(255, 255, 255);
padding: 8px 20px 8px 20px;
margin: 0px 47px;
border-radius: 46px;
background: rgb(230, 83, 60);
}

/* banner section start */


.banner {
  
    padding: 0px 80px;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
  }
.banner-content{
    width: 40%;
}

.get-intro{
    
   
}
#shape{
    font-family: "Miama";
    font-size: 4.2rem;
    font-weight: 200;
  }
.get-intro h1{
   
    font-size: 4.2rem;
    color: white;
    margin-bottom: 28px;
    line-height: 70px;
    gap: 40px;

}

.get-intro p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;

}
/* banner btn design */
.btns{
    display: flex;
    align-items: center;
    margin-top: 28px;
}
.btn1{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.btn2{
    
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: transparent;
    cursor: pointer;
  
}
.btn1, .btn2{
    width: 200px;
  margin: 10px; 
}

/* header image design */
.image-container {
    border: 4px solid red;
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .banner-image{
    margin-left: 60px;
  }
  
  .tutorial {
    position: absolute;
    top: 445px;
    left: 80px;
    width: 206px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
    cursor: pointer;
  }
  .tutorial h3 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
  }
  #play-icon{
    color: rgb(230, 83, 60);
    transform: scale(2);
  }
  
  .video {
    position: absolute;
    top: 150px;
    right: 10px;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  



.container{
    
    border: 3px solid rgb(185, 219, 11);
width: 1310px;
height: 4650px;
background: rgb(0, 0, 0);
margin: 0px auto;
display: flex;
flex-direction: column;

align-items: center;
}










/* main section design end */


/* change habit section design start */
.habit{
    border: 3px solid red;

width: 1044px;
height: 452px;

margin: 40px auto;
display: flex;
flex-direction: column;
align-items: center;


}
.text-habit{
    border: 3px solid red;
    width: 671px;
height: 120px;

display: flex;
flex-direction: column;

align-items: center;


margin: 58px 0px;
}

.text-habit h2{
    border: 3px solid red;
width: 476px;
height: 58px;
margin: 10px 5px 0px;
color: rgb(255, 255, 255);

font-size: 40px;
font-weight: 900;
}



.text-habit p{
    border: 3px solid red; 
width: 671px;
height: 48px;


margin: 10px 0px;
color: rgba(255, 255, 255, 0.5);


text-align: center; 
}
/* pics-habit design start */

.pics-habit{

    /* Frame 25 */
position: static;
width: 1044px;
height: 274px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 40;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 58px 0px;

}
.pics-habit img{
    border-radius: 50%;

    
}


.pic-habit h2{
    /* Movement */
position: static;
width: 93px;
height: 22px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 6;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.pic-habit p{
    /* We believe fitness should be accessible to everyone */
position: static;
width: 231px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 6;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
}




/* pics-habit design end */
/* change habit section design end */



/* Run an Extra Mile Easily design start */
.run-mile{
    /* Frame 27 */
    border: 3px solid rgb(57, 6, 242);
position: static;
width: 1060px;
height: 371px;
/* Inside Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 62px auto;
border-radius: 18px;

background: rgb(34, 34, 34);


}

.run-text h3{
    /* Run an Extra Mile Easily */
position: static;
width: 443px;
height: 116px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 14px 0px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.run-text p{

    /* We believe fitness should be accessible to everyone, everywhere, regardless of income or access to a gym. With hundreds of professional workouts. */
position: static;
width: 443px;
height: 72px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 14px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.run-text button{
    /* Button */
position: static;
width: 224px;
height: 54px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 10;
padding: 16px 40px 16px 40px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 34px 0px;
border-radius: 42px;

background: rgb(230, 83, 60);
}
.btnrun{
    /* Join Now */
position: static;
width: 81px;
height: 22px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 10;
padding: 16px 40px 16px 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}
.run-mile .run-pic img{
 
border: 3px solid red;
width: 366px;
height: 312px;
margin: 20px auto;
border-radius: 18px;
object-fit: inherit;

}


/* Run an Extra Mile Easily design end */

 /* bmi section start */
        .bmi{
            
border: 5px solid red;
width: 671px;
height: 120px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;

flex: none;
order: 1;
flex-grow: 0;
margin: 88px 0px;
}
.bmi h1{

     /* BMI Calculator */
position: static;
width: 353px;
height: 58px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 14px 0px;


    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

}
.bmi p{
  /* We believe fitness should be accessible to everyone, everywhere, regardless of income or access to a gym. */
position: static;
width: 671px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 14px 0px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left; 
}
/* bmi-chart-container start */
.chart h3{
    /* BMI Calculator Chart */
position: static;
width: 443px;
height: 34px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 14px 0px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.table{
   
    color: white;
    /* Group 78 */

width: 310px;
height: 216px;
left: 189px;
right: 941px;
top: 138px;
bottom: 133px;

}
          /* <!-- bmi section end --> */ */


          /* Meet Our Team section design start */
.meet{
    border: 3px solid red;
    /* Frame 52 */
position: static;
width: 1060px;
height: 782px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 58;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 88px 0px;
}
.meet-text{
    border: 3px solid red;
    /* Frame 38 */
position: static;
width: 671px;
height: 120px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 58px 0px;
}

.meet-text h3{
    border: 3px solid red;
    /* Meet Our Team */
position: static;
width: 364px;
height: 58px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 14px 0px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.meet-text p{

    border: 3px solid rgb(7, 252, 20);
position: static;
width: 671px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 14;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 14px 0px;

color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
}


.meet-pics {
    border: 5px solid rgb(63, 5, 236);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.trainer {
    border: 5px solid rgb(246, 61, 10);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
   
}

.trainer img {
    border: 2px solid rgb(251, 7, 202);
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.pic-text {
    border: 2px solid red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  
    text-align: left;
}

.pic-text h3 {
    border: 2px solid red;
    margin: 0;
    font-size: 1.2em;
    color: beige;
}

.pic-text p {
    border: 2px solid red;
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #333;
}
/* footer design start */
.footer{
    border: 3px solid red;
    /* Frame 56 */
position: static;
width: 1440px;
height: 489px;
/* Inside Auto Layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 88px 0px;
background: rgba(19, 18, 18, 0.9);
}
.footer-text{
border:5px solid red;
width: 989px;
height: 249px;
left: 190px;
top: 66px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
gap: 102;
margin: 66px 174px 190px 191px;

}
.first{
    border:5px solid red;
    
width: 420px;
height: 176px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20;
margin: 0px 73px  102px 0px;
}
.first h3{
  
    width: 256px;
height: 84px;

gap: 20;


margin:0px 0px  auto 0px;
color: rgb(230, 83, 60);

font-size: 60px;


 
}
.first p{

width: 443px;
height: 72px;

gap: 20;

margin: 20px 0px;
color: rgba(255, 255, 255, 0.5);

font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;


}
.section2{
    border:5px solid red;
width: 1014px;
height: 224px;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

margin: 0px auto;
}
.second{
    border:5px solid rgb(234, 220, 220);
    width: 181px;
    height: 224px;
    

}
.section2 h3{
    color: rgb(255, 255, 255);

font-size: 32px;

}
.section2 p{
    color: rgba(255, 255, 255, 0.5);

font-size: 18px;
font-weight: 400;
opacity: 0.5;

}
.section2 .third{
    border:5px solid rgb(12, 245, 51);

    width: 181px;
    height: 224px;
    

}
.footer-bottom {
    border-top: 1px solid #3a3a3a; 
    width: 1059.5px;
height: 0;
left: 189px;
top: 394px;
display: flex;
justify-content: center;
align-items: center;
}

.footer-bottom p {
    font-size: 14px;
    color: #bdbdbd;
    margin: 0;
}

/* footer design end */