.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   
  }


body{
    margin: 0;
    padding: 0;
}
header{
    border: 3px solid red;
width: 1340px;
height: 615px;
left: 0;
top: 0;
}
.nav-bar{

width: 1060px;
height: 46px;
left: 190px;
top: 57px;


display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;


}
.nav-bar p{
    width: 132px;
height: 43px;
color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.nav-bar ul{
    display: flex;
    text-decoration: none;
    
}
.nav-bar ul li{
    padding: 5px;
    
}
